@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import '../../node_modules/css-reset-and-normalize/scss/link-reset';

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #eee;
}

#table {
  position: fixed;
  width: 30vh;
  height: 70vh;
  background-color: #fff;
  border: solid #000 .1vmin;
}

#components {
  position: fixed;
  width: 15vh;
  height: 100vh;
  right: 0;
  background-color: #fff;
  border: solid #000 .1vmin;

  > div {
    height: 7.5vh;
    width: 14vh;
    margin: 2.5vh .5vh;
    display: grid;
    place-content: center;
    border-radius: 1.25vh;
    cursor: pointer;
    position: relative;

    > .wire::after {
      content: '';
      height: .5vh;
      width: 10vh;
      background-color: black;
      display: block;
      position: absolute;
      top: (7.5vh - .5vh) * .5;
      left: (14vh - 10vh) * .5;
    }

    &:hover {
      background-color: #eee;
    }

    &.selected {
      cursor: initial;
      background-color: #ddd;
    }
  }
}

main {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  left: calc(50vw - 50vh);

  > div {
    width: 100vh;
    display: flex;

    > div {
      height: 10vh;
      width: 10vh;
      border: solid #000 .1vmin;
      display: grid;
      place-content: center;
      position: relative;

      > img {
        height: 8vh * .8;
        width: 10vh * .8;
        object-fit: cover;
        object-position: 10% 0;
      }

      > i {
        width: .5vh;
        height: 2vh;
        background-color: green;
        display: block;
        position: absolute;
        bottom: -1vh;
        left: 5vh - .25vh;

        &:first-of-type:last-of-type {
          width: 2vh;
          height: .5vh;
          left: -1vh;
          top: 5vh - .25vh;
        }

        & + i:last-of-type {
          top: -1vh;
          left: 5vh - .25vh;
        }
      }

      &:has(img)::after {
        content: '';
        width: 2vh;
        height: .5vh;
        right: -1vh;
        top: 5vh - .25vh;
        background-color: darkred;
        display: block;
        position: absolute;
      }

      > .wire {
        position: relative;
        height: 10vh;
        width: 10vh;

        &::before, &::after {
          content: '';
          height: .5vh;
          width: 10vh;
          background-color: darkred;
          display: block;
          position: absolute;
          top: 5vh - .25vh;
          left: 0;
        }

        &::after {
          height: 10vh;
          width: .5vh;
          top: 0;
          left: 5vh - .25vh;
        }
      }
    }
  }
}