@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import '../../node_modules/css-reset-and-normalize/scss/link-reset';

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}