@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import '../../node_modules/css-reset-and-normalize/scss/link-reset';

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #eee;
}
#table {
  position: fixed;
  width: 30vh;
  height: 70vh;
  background-color: #fff;
  border: solid #000 .1vmin;
}

#components {
  position: fixed;
  width: 15vh;
  height: 100vh;
  right: 0;
  background-color: #fff;
  border: solid #000 .1vmin;

  > div {
    height: 10vh;
    width: 10vh;
    margin: 2.5vh;
    display: grid;
    place-content: center;
    border-radius: 1.25vh;
    cursor: pointer;

    &.selected {
      cursor: initial;
      background-color: #ddd;
    }
  }
}
  
main {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  left: calc(50vw - 50vh);

  > div {
    width: 100vh;
    display: flex;

    > div {
      height: 10vh;
      width: 10vh;
      border: solid #000 .1vmin;
      display: grid;
      place-content: center;

      > img {
        height: 8vh;
        width: 10vh;
        object-fit: cover;
        object-position: 10% 0;
      }
    }
  }
}